<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>500 - Chyba servera</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="fragments/navbar :: navbar('')"></div>

<div class="container">
    <div class="error-page">
        <h1>500</h1>
        <h2>Chyba servera</h2>
        <p>Vyskytla sa neočakávaná chyba. Skúste to prosím neskôr.</p>
        <a th:href="@{/}" class="btn-primary">Späť na hlavnú stránku</a>
    </div>
</div>

</body>
</html>

